{% if navigation.items %}
    <nav>
        <ul>
            {% for item in navigation.items %}
                <li class="navbar">
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}