 .navbar{
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    justify-content: center;
}

.navbar li {
    display: flex;
    justify-content: center;
}

nav {
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

ul {
    display: flex;
    width: 100%;
}
